<div class="footer">
    {% if include.paginator %}
    {% include paginator.html pages=include.paginator_pages number=include.paginator_number %}
    {% endif %}
    <hr>
    <p class="rtable">
        <span>
            <b>About...</b><br>
            <a href="{{ site.url }}/about/contact/">Contact Us</a><br>
            <a href="{{ site.url }}/about/privacy/">Privacy Policy</a>
        </span>
        <span>
            <b>Follow us on...</b><br>
            <a href="https://twitter.com/{{ site.twitter }}">Twitter ({{ site.twitter }})</a><br>
            <a href="https://instagram.com/{{ site.instagram }}">Instagram (@{{ site.instagram }})</a>
        </span>
        <span></span>
        <span>
            {% include theme-switch.html %}
        </span>
    </p>
    <hr>
    <p>&copy; {{ site.time | date: '%Y' }} The News Panels Inc.</p>
</div>