.dialog {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: opacity .25s, display 0s .25s, visibility 0s .25s;
}

.dialog--hidden {
	z-index: -1;
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity .25s;
}

.dialog__close {
	position: absolute;
	top: calc(5% - 24px);
	right: 16px;
	z-index: 2;
	user-select: none;
	width: 48px;
	height: 48px;

	background-color: #FFFFFF;
	background-color: var(--normal-background);
	border-radius: 50%;
	transition: background-color .25s, opacity .25s;
}

.dialog__close:hover {
    opacity: 0.8;
}

.dialog__close > .material-icons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #FFF;
	color: var(--normal-color-focus);
	
	display: block;
	transition: transform .25s, color .25s;
}

.dialog__close:hover > .material-icons {
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
	color: #205E37;
	color: var(--accent-color-text);
}

.dialog__content {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border: none;
	width: 100%;
	height: 90%;
	background-color: #FFF;
	animation-name: dialog;
	animation-duration: .25s;
	animation-timing-function: ease-out;
}

.dialog__content, .dialog__content > iframe {
	border-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.dialog--hidden > .dialog__content {
	animation-direction: reverse;
}

@keyframes dialog {
	from {
		opacity: 0;
		transform: translateY(20vh);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media(min-width: 1000px) {
	.dialog {
		padding: calc(2vw + 24px) calc(6vw + 24px);
	}

	.dialog__close {
		top: calc(2vw + 40px);
		right: calc(6vw - 48px);
	}

	.dialog__content {
		position: unset;
		height: 100%;
		box-shadow: 0 0.4em 3.2em rgba(0, 0, 0, 0.33);
	}

	.dialog__content, .dialog__content > iframe {
		border-radius: 8px;
	}

	@keyframes dialog {
		from {
			opacity: 0;
			transform: scale(.75);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
}
